.desktopQuickNav {
	position: fixed;
	top: var(--header-height);
	right: 0;
	bottom: 0;
	width: 250px;
	z-index: 1;
	flex-shrink: 0;
}

.mobileQuickNav {
	width: 100%;
	margin: 1rem 0 ;
	/* padding: 0; */
	border-top: 1px solid var(--gray-6);;
	border-bottom: 1px solid var(--gray-6);
}

.LinkWrapper {
	padding-block: var(--space-1);
	margin-left: calc((var(--level) - 2) * 12px);
}

.Link {
	display: inline-block;
	padding: 4px 0;
}

.LinkWrapper[data-level="2"] .Link {
	color: var(--gray-12);
}

.LinkWrapper[data-level="3"] .Link {
	color: var(--gray-11);
}
